module bank #(
    parameter DATA_WIDTH = {{ DATA_WIDTH }},
    parameter ADDR_WIDTH = {{ ADDR_WIDTH }}
)(
    input clk,
    input rst,
    input we,
    input [ADDR_WIDTH-1:0] addr,
    input [DATA_WIDTH-1:0] wdata,
    output reg [DATA_WIDTH-1:0] rdata
);

    reg [DATA_WIDTH-1:0] mem [0:(1<<ADDR_WIDTH)-1];

    always @(posedge clk) begin
        if (we) begin
            mem[addr] <= wdata;
        end
        rdata <= mem[addr];
    end

endmodule