module {{ module_name }} #(
    parameter DATA_WIDTH = {{ DATA_WIDTH }},
    parameter ADDR_WIDTH = {{ ADDR_WIDTH }},
    parameter NUM_BANKS = {{ num_banks }}
)(
    input clk,
    input rst,

    input [ADDR_WIDTH-1:0] addr,
    input [DATA_WIDTH-1:0] wdata,
    input we,

    output [DATA_WIDTH-1:0] rdata
);

    // -------------------------
    // Internal Signals
    // -------------------------
    wire [{{ bank_bits-1 }}:0] bank_sel;
    wire [{{ local_bits-1 }}:0] local_addr;

    wire [DATA_WIDTH-1:0] bank_rdata [0:NUM_BANKS-1];

    // -------------------------
    // Decoder
    // -------------------------
    decoder #(
        .ADDR_WIDTH(ADDR_WIDTH),
        .BANK_BITS({{ bank_bits }}),
        .LOCAL_BITS({{ local_bits }})
    ) u_decoder (
        .addr(addr),
        .bank_sel(bank_sel),
        .local_addr(local_addr)
    );

    // -------------------------
    // Banks
    // -------------------------
    {% for i in range(num_banks) %}
    bank_{{ i }} u_bank_{{ i }} (
        .clk(clk),
        .we(we & (bank_sel == {{ i }})),
        .addr(local_addr),
        .wdata(wdata),
        .rdata(bank_rdata[{{ i }}])
    );
    {% endfor %}

    // -------------------------
    // Read MUX
    // -------------------------
    reg [DATA_WIDTH-1:0] rdata_reg;

    always @(*) begin
        case(bank_sel)
            {% for i in range(num_banks) %}
            {{ i }}: rdata_reg = bank_rdata[{{ i }}];
            {% endfor %}
            default: rdata_reg = 0;
        endcase
    end

    assign rdata = rdata_reg;

endmodule