module {{ module_name }} #(
    parameter DATA_WIDTH = {{ DATA_WIDTH }},
    parameter ADDR_WIDTH = {{ ADDR_WIDTH }},
    parameter BANKS = {{ BANKS }}
)(
    input clk,
    input rst,

    input [ADDR_WIDTH-1:0] addr,
    input [DATA_WIDTH-1:0] wdata,
    input we,

    output [DATA_WIDTH-1:0] rdata
);

    wire [BANKS-1:0] bank_sel;
    wire [DATA_WIDTH-1:0] bank_rdata [0:BANKS-1];

    // Decoder
    decoder #(
        .BANKS(BANKS),
        .ADDR_WIDTH(ADDR_WIDTH)
    ) u_decoder (
        .addr(addr),
        .bank_sel(bank_sel)
    );

    // Banks
    {% for i in range(BANKS) %}
    bank u_bank_{{ i }} (
        .clk(clk),
        .rst(rst),
        .addr(addr),
        .wdata(wdata),
        .we(we & bank_sel[{{ i }}]),
        .rdata(bank_rdata[{{ i }}])
    );
    {% endfor %}

    // Read MUX
    reg [DATA_WIDTH-1:0] rdata_reg;
    integer j;

    always @(*) begin
        rdata_reg = 0;
        for (j = 0; j < BANKS; j = j + 1) begin
            if (bank_sel[j]) begin
                rdata_reg = bank_rdata[j];
            end
        end
    end

    assign rdata = rdata_reg;

endmodule